.booksform {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.booksform__input {
  font-size: 24px;
  width: 75%;
  padding: 10px;
  margin: 6px 0;
  background-color: #3C1F3C;
  color: #FFF;
  border: 0;
}

.booksform__button {
  font-size: 24px;
  margin: 10px auto;
  background-color: #EEE;
  border: 0;
  padding: 6px 20px;
  display: block;
}